DEEPGRAM_API_KEY=e76414cc7b482be82c8d4378b570dd31647ce8f8
GROQ_API_KEY=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
CARTESIA_API_KEY=sk_car_CLrYhsdHgdHPUWrnCehVQG
HF_TOKEN=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

